@media only screen and (max-width: 1407px) {
  & .m4_num9 {
    flex-wrap: wrap;
    & .m4_num9_title {
      margin-right: 162px;
      min-width: 100px;
    }
  ;
    & .m4_num9_form1 {
      margin-right: 0 !important;
    }
  ;
    & .m4_num9_form2 {
      margin-top: 10px;
      margin-left: 10px;
      & .m4_num9_form2_div {
        & .m4_num9_title {
        }
      ;
        input {
        }
      ;
        mat-form-field {
        }
      }
    }
  ;
  }
}



@media only screen and (max-width: 1241px) {
  .m4_num3_9 {
    flex-wrap: wrap;
    mat-form-field {
      margin-right: 0 !important;
    }
    & .m4_num3_9_div2 {
      margin-top: 15px;
      & .m4_num3_num_tit {
        min-width: 245px !important;
      }
    ;
    }
  }
;

  .m4_num3_9_11 {
    & .m4_num3_9_div_11 {
      input {
        margin-right: 0 !important;
      }
    ;
    }
  ;
    & .m4_num3_9_div_11_2 {
      mat-form-field {
        margin-left: 142px;
      }
    }
  }
;
}



@media only screen and (max-width: 1320px) {
  .m4_num12 {
    & .m4_num12_form {
      div {
        margin-right: 10px !important;
      }
    }
  }
}



@media only screen and (max-width: 1209px) {
  & .m4_num24 {
    h3 {
      margin-right: 20px !important;
    }
  }
}



@media only screen and (max-width: 1140px) {
  .m4_num12 {
    flex-wrap: wrap;
    & .m4_num12_form {
      margin-bottom: 15px;
      width: 100%;
      mat-form-field {
        width: 100% !important;
      }
    }
  }
}



@media only screen and (max-width: 1119px) {
  & .m4_num20 {
    flex-wrap: wrap;
    & .m4_num20_div {
      margin-bottom: 15px;
      margin-right: 0 !important;
      width: 100% !important;
      div {
        min-width: 93px;
        margin-right: 10px;
      }
    ;
      div:first-child {
        margin-right: 0;
      }
    }
  ;
    & .m4_num20_div1 {
      div {
        margin-right: 4px !important;
      }
    ;
    }
  ;
    & .m4_num20_div3 {
      div {
        margin-right: 4px !important;
      }
    ;
    }
  ;
  }
}



@media only screen and (max-width: 1115px) {
  & .m4_num19 {
    flex-wrap: wrap;
    & .m4_num19_forms {
      margin-left: 90px;
      margin-top: 10px;
    }
  }
;

  .m4_num22_ol2 {
    max-height: 173px !important;
  }
}



@media only screen and (max-width:1080px) {
  & .m4_num26 {
    margin-top: 35px !important;
    flex-wrap: wrap;
    justify-content: center;
    & .m4_num25_forms_btns {
      justify-content: center!important;
      width: 40% !important;
      margin-left: 0 !important;
    };
    & .m4_num25_form1 {
      width: 40% !important;
    };
    & .m4_num25_form2 {
      width:auto!important;
    }
  }
}



@media only screen and (max-width: 1068px) {
  & .m4_num24 {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    mat-checkbox{
      margin-top:15px;
    }
  }
}



@media only screen and (max-width: 1000px) {
  .m4_num23 {
    flex-wrap: wrap;
    & .m4_num23_form {
      margin-right: 0 !important;
      width: 100% !important;
      margin-bottom:15px;
      div {
        min-width: 240px !important;
      }
      input {
        width: 100% !important;
      }
    }
  }
}



@media only screen and (max-width: 916px) {
  .m4_num4 {
    & .m4_num4_num_tit {
      min-width: 150px !important;
    }
  ;
    input {
      margin-left: 0 !important;
    }
  ;
    mat-form-field {
      margin-left: 0 !important;
      width: 100% !important;
    }
  }
}



@media only screen and (max-width: 817px) {
  & .m4_num9 {
    & .m4_num9_form1 {
      margin-top: 10px;
      margin-left: 30px;
      width: 100%;
      input {
        width: 100% !important;
      }
    }
  ;
    & .m4_num9_form2 {
      width: 100% !important;
      & .m4_num9_form2_div {
        width: 100% !important;
        & .m4_num9_title {
        }
      ;
        input {
          width: 100% !important;
        }
      ;
        mat-form-field {
          width: 100% !important;
        }
      }
    }
  ;
  }
}



@media only screen and (max-width: 719px) {
  .m4_num4 {
    flex-wrap: wrap;
    & .m4_num4_num2 {
      flex-wrap: wrap;
      margin-top: 15px;
      margin-left: 0 !important;
      width: 100% !important;
      mat-form-field {
        width: 100% !important;
      }
    }
  ;
    input {
      margin-top: 10px;
    }
  ;
    mat-form-field {
      margin-top: 10px;
    }
  }
;
}



@media only screen and (max-width:750px) {
  .m4_num25{
    flex-wrap: wrap;
    & .m4_num25_form {
      margin-bottom:15px;
      margin-right: 0 !important;
      width: 100% !important;
      input {
        width: 100% !important;
      }
    };
  };

  .m4_num26 {
    flex-wrap: wrap;
    & /deep/ .mat-checkbox-inner-container {
      order: 0 !important;
      margin-left: 0 !important;
      margin-right: 10px !important;
    };
    & .m4_num25_forms_btns {
      width:auto!important;
      margin:0 auto!important;
      margin-bottom: 10px !important;
    };
    & .m4_num25_form {
      margin-bottom:15px;
      margin-right: 0 !important;
      width: 100% !important;
      input {
        width: 100% !important;
      };
    };
  };

}



@media only screen and (max-width: 878px) {
  .m4_num22_ol2 {
    max-height: 250px !important;
  }
}



@media only screen and (max-width: 665px) {
  .m4_error {
    margin-left: 0!important;
    width: 100% !important;
  }


  .m4_num2 {
    flex-wrap: wrap;
    & .m4_num2_checks {
      margin-top: 10px;
    }
  }
;

  & .m4_num3_1 {
    & .m4_num3_1_input {
      & .m4_error {
        width: 100% !important;
      }
    }

  };



  .m4_num9_form1 {
    justify-content: center;
  }


  .m4_num3 {
    flex-wrap: wrap;
    input {
      margin-top: 10px;
    }
  }
;

  .m4_num3_3 {
    input {
      width: 100% !important;
    }
  }
;

  .m4_num5_forms {
    margin-left: 0px !important;
    flex-wrap: wrap;
    justify-content: center !important;
    input {
      width: 1022px;
    }
    & .m4_num5_forms_btns {
      margin-bottom: 10px;
    }
  }
;

  & .m4_num6 {
    input {
      width: 100% !important;
    }
  }
;

  & .m4_num7 {
    mat-form-field {
      width: 100% !important;
      margin-top: 10px;
    }
  }

  .m4_num3_9 {
    & .m4_num3_9_div {
      width: 100% !important;
      flex-wrap: wrap;
      mat-form-field {
        margin-top: 10px;
        width: 100% !important;
        margin-left: 0 !important;
      }
    ;
      input {
        margin-top: 10px;
        width: 100% !important;
      }
    ;
    }
  }
;

  .m4_num9 {
    & .m4_num9_form2 {
      flex-wrap: wrap;
      & .m4_num9_form2_div {
        margin-bottom: 10px;
        input {
          margin-right: 0 !important;
        }
      }
    }
  ;
  }

  & .m4_num10 {
    flex-wrap: wrap;
    & .m4_num10_title {
      margin-bottom: 10px;
    }
    & .m4_num10_forms {
      flex-wrap: wrap;
      justify-content: center;
      & .m4_num10_btns {
        margin-bottom: 5px;
      }
    }
  }

  & .m4_num17 {
    mat-form-field {
      margin-top: 10px;
    }
  }
}



@media only screen and (max-width: 566px) {
  & .m4_num18 {
    h3 {
      margin-right: 20px !important;
    }
  }
}



@media only screen and (max-width: 740px) {
  .m4_num22_ol2 {
    max-height: 485px !important;
  }
}



@media only screen and (max-width: 548px) {
  .m4_num12 {
    & .m4_num12_form {
      flex-wrap: wrap;
      div {
        min-width: 225px !important;
      }
      mat-form-field {
        margin-top: 10px;
      }
    }
  }
}



@media only screen and (max-width: 528px) {
  .m4_num23 {
    & .m4_num23_form {
      flex-wrap: wrap;
      input {
        margin-top:10px;
      }
    }
  }
}



@media only screen and (max-width: 514px) {
  .m4_h2 {
    justify-content: center;
    h2 {
      text-align: center;
    }
  }
}



@media only screen and (max-width: 486px) {
  & .m4_num18 {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    h3 {
      margin-bottom: 10px !important;
      margin-right: 0 !important;
    }
  }
}



@media only screen and (max-width: 465px) {
  & .m4_num19 {
    & .m4_num19_title {
      margin-right: 0 !important;
      flex-wrap: wrap;
      input {
        margin-top: 5px;
      }
    }
  ;
    & .m4_num19_forms {
      margin-left: 0 !important;
      input {
        width: 100% !important;
      }
    }
  }

  .m4_num22_a {
    flex-wrap: wrap;
    margin-bottom: 10px;
    mat-form-field {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    & .m4_num22_btns {
      margin: 0 auto;
    }
  }
}



@media only screen and (max-width: 443px) {
  .m4_num2 {
    mat-checkbox {
      margin-top: 10px;
    }
  }
;

  .m4_num3 {
    & .m4_num3_num_tit {
      max-width: 100% !important;
    }
  ;
    mat-checkbox {
      margin-top: 10px;
    }
  }
}



@media only screen and (max-width: 428px) {
  .m4_num2 {
    & .m4_num2_checks {
      flex-wrap: wrap;
      margin-bottom: 20px !important;
    }
  }
;
  .m4_num9 {
    & .m4_num9_form1 {
      flex-wrap: wrap;
      margin-left: 0 !important;
      input {
        margin-top: 10px;
      }
    }
  ;
    & .m4_num9_form2 {
      margin-left: 0 !important;
      & .m4_num9_form2_div {
        flex-wrap: wrap;
        input {
          margin-left: 0 !important;
        }
      ;
        mat-form-field {
          margin-left: 0 !important;
        }
      }
    }
  ;
  }
}



@media only screen and (max-width: 409px) {
  .m4_num13 {
    justify-content: center !important;
  }
}



@media only screen and (max-width:400px) {
  .m4_num25{
    & .m4_num25_form {
      flex-wrap: wrap;
      input {
        margin-top:10px;
      }
    };
    & .m4_num25_form2 {
      justify-content: center!important;
      .m4_num25_forms_btns {
        margin-left: 0 !important;
        margin-top:5px;
      }
    }
  };

  .m4_num26 {
    & .m4_num25_form2 {
      justify-content: space-between!important;
      padding-left:15px;
    }
  }
}



@media only screen and (max-width: 395px) {
  .m4_num22_ol1 {
    padding-left: 15px !important;
  };

  .m4_num22_ol2 {
    padding-left: 10px !important;
    max-height: 550px !important;
    li {
      mat-checkbox  {
        /deep/ .mat-checkbox-layout {
          display: block!important;
          white-space: normal!important;
        };
      }
    }
    li:last-child {
      mat-checkbox {
        display:flex;
        flex-wrap: wrap;
      }
    }
  }
}



@media only screen and (max-width: 380px) {
  & .m4_num20 {

    & .m4_num20_div {
      flex-wrap: wrap;
      input {
        width: 100% !important;
        margin-top: 10px;
      }
    ;
      mat-form-field {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 10px;
      }
    }
  ;
  }
}



@media only screen and (max-width: 372px) {
  & .m4_num19 {
    & .m4_num19_forms {
      flex-wrap: wrap;
      justify-content: center !important;
      input {
        margin-right: 0 !important;
        margin-bottom: 5px;
      }
    }
  }
}



@media only screen and (max-width: 345px) {
  .m4_num22_ol2 {
    li:last-child {
      margin-top: 10px !important;
      div {
        flex-wrap: wrap!important;
        input {
          margin-top:10px;
          width: 100% !important;
        }
      }
    }
  }
}