<div class="ctrx_m4_container">
    <div class="m4">
        <div class="m4_h2">
            <h2>Part I Subject Information 1 of 1</h2>
            <div class="m4_h2_all_btns" style="">
                <button class="m4_h2_btn">+</button>
                <button class="m4_h2_btn button_minus">-</button>
            </div>
        </div>
        <div class="m4forms">
            <div class="m4_num1">
                <section class="section_m4_num2 ng-invalid">
                    <div class="m4_num2">
                        <div>
                            <p>3 Check</p>
                        </div>
                        <div class="m4_num2_checks">
                            <mat-checkbox>If entity,</mat-checkbox>
                            <mat-checkbox>If all critical* subject information is unavailable (Does not include item 24)</mat-checkbox>
                        </div>
                    </div>
                    <div class="m4_error" style="display: none">
                        <span>ERROR</span>
                    </div>
                </section>

                <section class="section_m4_num3 section_m4_num3_1">
                    <div class="m4_num3 m4_num3_1">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>*4</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>Individual's last name or entity's legal name</p>
                            </div>
                        </div>
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                    <div class="m4_error">
                        <span>ERROR</span>
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num3_2">
                    <div class="m4_num3 m4_num3_2">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>*5</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>First name</p>
                            </div>
                        </div>
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                </section>
                <section class="section_m4_num4">
                    <div class="m4_num4">
                        <div class="m4_num4_num_tit">
                            <div class="m4_num4_number">
                                <p>6</p>
                            </div>
                            <div class="m4_num4_title">
                                <p>Middle name/initial</p>
                            </div>
                        </div>
                        <input type="text">
                        <div class="m4_num4_num2">
                            <div>
                                <p>8 Gender</p>
                            </div>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>

                <section class="section_m4_num4 section_m4_num4_2">
                    <div class="m4_num4 m4_num4_2">
                        <div class="m4_num4_num_tit">
                            <div class="m4_num4_number">
                                <p>7</p>
                            </div>
                            <div class="m4_num4_title">
                                <p>Suffix</p>
                            </div>
                        </div>
                        <input type="text">
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num3_3">
                    <div class="m4_num3 m4_num3_3">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>*19</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>Date of birth</p>
                            </div>
                        </div>
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                </section>
                <section class="section_m4_num5">
                    <div class="m4_num5">
                        <div class="m4_num5_title">
                            <p>9 Alternate name, e.g., AKA - individual or trade name, DBA - entity</p>
                        </div>
                        <div class="m4_num5_forms">
                            <div class="m4_num5_forms_btns" >
                                <button class="m4_num5_forms_btn"style="display: none">+</button>
                                <button class="m4_num5_forms_btn button_minus"style="display: none">-</button>
                            </div>
                            <input type="text">
                        </div>
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num6">
                    <div class="m4_num3 m4_num6">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>10</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>Occupation or type of business</p>
                            </div>
                        </div>
                        <input type="text">
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num7">
                    <div class="m4_num3 m4_num7">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>10a</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>NAICS Code</p>
                            </div>
                        </div>
                        <mat-form-field>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num3_9 section_m4_num3_9_11 section_m4_num8">
                    <div class="m4_num3 m4_num3_9 m4_num3_9_11 m4_num8 ">
                        <div class="m4_num3_9_div1 m4_num3_9_div  m4_num3_9_div_11 m4_num3_9_div_11_2">
                            <div class="m4_num3_num_tit">
                                <div class="m4_num3_number">
                                    <p>*16</p>
                                </div>
                                <div class="m4_num3_title">
                                    <p>TIN</p>
                                </div>
                            </div>
                            <mat-checkbox>Unknown</mat-checkbox>
                            <input type="text">
                        </div>
                        <div class="m4_num3_9_div2 m4_num3_9_div m4_num3_9_div_11 m4_num3_9_div_11_2">
                            <div class="m4_num3_num_tit">
                                <div class="m4_num3_number">
                                    <p>17</p>
                                </div>
                                <div class="m4_num3_title">
                                    <p>TIN type</p>
                                </div>
                            </div>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>
                <section class="section_m4_num9">
                    <div class="m4_num9">
                        <div class="m4_num9_title">
                            <p>21 Phone number</p>
                        </div>
                        <div class="m4_num9_form1">
                            <div class="m4_num9_form1_btns">
                                <button class="m4_n9_f1_b"style="display: none">+</button>
                                <button class="m4_n9_f1_b button_minus"style="display: none">-</button>
                            </div>
                            <input type="text">
                        </div>
                        <div class="m4_num9_form2">
                            <div class="m4_num9_form2_div">
                                <div class="m4_num9_title">
                                    <p>Ext.</p>
                                </div>
                                <input type="text">
                            </div>
                            <div class="m4_num9_form2_div">
                                <div class="m4_num9_title">
                                    <p>20 Type</p>
                                </div>
                                <mat-form-field>
                                    <mat-select>
                                        <mat-option>None</mat-option>
                                        <mat-option value="option1">Option 1</mat-option>
                                        <mat-option value="option2">Option 2</mat-option>
                                        <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section_m4_num10">
                    <div class="m4_num10">
                        <div class="m4_num10_title">
                            <p>22 E-mail address</p>
                        </div>
                        <div class="m4_num10_forms">
                            <div class="m4_num10_btns">
                                <button class="m4_num10_forms_btn"style="display: none">+</button>
                                <button class="m4_num10_forms_btn button_minus"style="display: none">-</button>
                            </div>
                            <input type="text">
                        </div>
                    </div>
                </section>
                <section class="section_m4_num10 section_m4_num11">
                    <div class="m4_num10 m4_num11">
                        <div class="m4_num10_title">
                            <p>22a Website (URL) address</p>
                        </div>
                        <div class="m4_num10_forms">
                            <div class="m4_num10_btns">
                                <button class="m4_num10_forms_btn"style="display: none">+</button>
                                <button class="m4_num10_forms_btn button_minus"style="display: none">-</button>
                            </div>
                            <input type="text">
                        </div>
                    </div>
                </section>
                <section class="section_m4_num12">
                    <div class="m4_num12">
                        <div class="m4_num12_form">
                            <div>
                                <p>23 Corroborative statement to filer ?</p>
                            </div>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="m4_num12_form">
                            <div>
                                <p>28 Subject's role in suspicious activity</p>
                            </div>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>
            </div>
            <div class="m4_part2">
                <section class="section_m4_num13">
                    <div class="m4_num13">
                        <h3>Subject Address Information</h3>
                        <div class="m4_num13_btns">
                            <button class="m4_num13_forms_btn"style="display: none">+</button>
                            <button class="m4_num13_forms_btn button_minus"style="display: none">-</button>
                        </div>
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num3_2 section_m4_num14">
                    <div class="m4_num3 m4_num3_2 m4_num14">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>*11</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>Address</p>
                            </div>
                        </div>
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                </section>

                <section class="section_m4_num3 section_m4_num3_2 section_m4_num15">
                    <div class="m4_num3 m4_num3_2 m4_num15">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>*12</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>City</p>
                            </div>
                        </div>
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num3_9 section_m4_num16">
                    <div class="m4_num3 m4_num3_9 m4_num16">
                        <div class="m4_num3_9_div1 m4_num3_9_div">
                            <div class="m4_num3_num_tit">
                                <div class="m4_num3_number">
                                    <p>*13</p>
                                </div>
                                <div class="m4_num3_title">
                                    <p>State</p>
                                </div>
                            </div>
                            <mat-checkbox>Unknown</mat-checkbox>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="m4_num3_9_div2 m4_num3_9_div">
                            <div class="m4_num3_num_tit">
                                <div class="m4_num3_number">
                                    <p>*14</p>
                                </div>
                                <div class="m4_num3_title">
                                    <p>ZIP/Postal Code</p>
                                </div>
                            </div>
                            <mat-checkbox>Unknown</mat-checkbox>
                            <input type="text">
                        </div>
                    </div>
                </section>
                <section class="section_m4_num3 section_m4_num3_2 section_m4_num17">
                    <div class="m4_num3 m4_num3_2 m4_num17">
                        <div class="m4_num3_num_tit">
                            <div class="m4_num3_number">
                                <p>*15</p>
                            </div>
                            <div class="m4_num3_title">
                                <p>Country</p>
                            </div>
                        </div>
                        <mat-checkbox>Unknown</mat-checkbox>
                        <mat-form-field>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </section>
            </div>

            <div class="m4_part3">
                <section class="m4_num18">
                    <h3>*18 Form of identification for subject</h3>
                    <mat-checkbox labelPosition="before">Unknown</mat-checkbox>
                </section>
                <section class="section_m4_num19">
                    <div class="m4_num19">
                        <div class="m4_num19_title">
                            <p>Type</p>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="m4_num19_forms">
                            <input type="text">
                            <div class="m4_num19_btns">
                                <button class="m4_num19_forms_btn"style="display: none">+</button>
                                <button class="m4_num19_forms_btn button_minus"style="display: none">-</button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section_m4_num20">
                    <div class="m4_num20">
                        <div class="m4_num20_div m4_num20_div1">
                            <div>
                                <p>Number</p>
                            </div>
                            <input type="text">
                        </div>
                        <div class="m4_num20_div m4_num20_div3">
                            <div>
                                <p>Country</p>
                            </div>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="m4_num20_div m4_num20_div2">
                            <div>
                                <p>Issuing State</p>
                            </div>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>
            </div>

            <div class="m4_part4">
                <section class="m4_num21">
                    <h3>24 Relationship of the subject to an institution listed in Part III or IV (check all that apply)</h3>
                </section>


                <section class="m4_num22" style='margin-top: 50px'>
                    <ol type="a" class="m4_num22_ol1">
                        <li>
                            <div class="m4_num22_a">
                                <div class="m4_num22_a_title">
                                    <p>Intitution TIN</p>
                                </div>
                                <mat-form-field>
                                    <mat-select>
                                        <mat-option>None</mat-option>
                                        <mat-option value="option1">Option 1</mat-option>
                                        <mat-option value="option2">Option 2</mat-option>
                                        <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="m4_num22_btns">
                                    <button class="m4_num22_forms_btn"style="display: none">+</button>
                                    <button class="m4_num22_forms_btn button_minus"style="display: none">-</button>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <ol type="a"  class="m4_num22_ol2">
                        <li  value="2">
                            <mat-checkbox>Accountant</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Agent</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Appraiser</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Attorney</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Borrower</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Customer</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Director</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Employee</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>No relationship to institution</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Officer</mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>Owner or Controlling Shareholder</mat-checkbox>
                        </li>
                        <li value="26" style="margin-top:25px">
                            <div>
                                <mat-checkbox>
                                    Other
                                </mat-checkbox>
                                <input type="text">
                            </div>
                        </li>
                    </ol>
                </section>

                <section class="section_m4_num23">
                    <div class="m4_num23">
                        <div class="m4_num23_form m4_num23_form_1">
                            <div>
                                <p>25 Status of relationship</p>
                            </div>
                            <input type="text">
                        </div>
                        <div class="m4_num23_form m4_num23_form_2">
                            <div>
                                <p>26 Action date</p>
                            </div>
                            <input type="text">
                        </div>
                    </div>
                </section>
            </div>


            <div class="m4_part5">
                <section class="m4_num24">
                    <h3>*27 Financial institution TIN and account number(s) affected that are related to subject</h3>
                    <mat-checkbox labelPosition="before">No known account involved</mat-checkbox>
                </section>
                <section class="section_m4_num25">
                    <div class="m4_num25">
                        <div class="m4_num25_form m4_num25_form1">
                            <div>
                                <p>Institution TIN</p>
                            </div>
                            <input type="text">
                        </div>
                        <div class="m4_num25_form m4_num25_form2">
                            <mat-checkbox>Non-US Financial Institution</mat-checkbox>
                            <div class="m4_num25_forms_btns">
                                <button class="m4_num25_forms_btn"style="display: none">+</button>
                                <button class="m4_num25_forms_btn button_minus"style="display: none">-</button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section_m4_num25 section_m4_num26">
                    <div class="m4_num25 m4_num26">
                        <div class="m4_num25_forms_btns">
                            <button class="m4_num25_forms_btn"style="display: none">+</button>
                            <button class="m4_num25_forms_btn button_minus"style="display: none">-</button>
                        </div>
                        <div class="m4_num25_form m4_num25_form1">
                            <div>
                                <p>Account number</p>
                            </div>
                            <input type="text">
                        </div>
                        <div class="m4_num25_form m4_num25_form2">
                            <mat-checkbox labelPosition="before">Closed? Yes</mat-checkbox>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>