<div class="ctrx_m2_container">
    <div class="m2">
        <div class="h2">
            <h2>Part IV Filing Institution Contact Information</h2>
        </div>

        <div class="m2forms">
            <form action="">

                <section class="section_m2_num1 ng-invalid">
                    <div class="m2_num1">
                        <div>
                            <label>*79 Type of financial institution</label>
                        </div>
                        <!--<select></select>-->
                        <mat-form-field name="m2_num1_select" id="m2_num1_select_">
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                            <input type="text" style="margin-top:5px; min-width: 225px; width: 519px; background: #ffffd0;"> 
                    </div>

                </section>

                <section class="section_m2_num2">
                    <div class="m2_num2">
                        <div>
                            <label>*75 Primary federal regulator</label>
                        </div>
                        <!--<select></select>-->
                        <mat-form-field name="m2_num2_select" id="m2_num2_select">
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </section>

                <section class="section_m2_num3">
                    <div class="m2_num3">
                        <div>
                            <label for="m2_num3_input">*76 Filer name (Holding company, lead financial institution, or agency, if applicable)</label>
                        </div>
                        <input type="text" id="m2_num3_input" name="m2_num3_input">
                    </div>

                </section>

                <section class="section_m2_num4">
                    <div class="m2_num4">
                        <div class="m2_num4_input_div">
                            <label for="m2_num4_input1">*77 TIN</label>
                        </div>
                        <input type="text" id="m2_num4_input1" name="m2_num4_input1">
                        <div class="m2_num4_select_div">
                            <label for="m2_num4_select">*78 TIN type</label>
                        </div>
                        <!--<select></select>-->
                        <mat-form-field name="m2_num4_select" id="m2_num4_select">
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </section>
                <section class="section_m2_num5">
                    <div class="m2_num5">
                        <div>
                            <label>80 Type of Securities and Futures institution or individual filing this report - check box(es) for functions that apply to this report</label>
                        </div>
                        <div class="m2_all_checks">
                            <div class="m2_num5_ch left_checks">
                                <mat-checkbox>Clearing broker-securities</mat-checkbox>
                                <mat-checkbox>CPO/CTA</mat-checkbox>
                                <mat-checkbox>Execution-only broker securities</mat-checkbox>
                                <mat-checkbox>Futures Commission Merchant</mat-checkbox>
                                <mat-checkbox>Holding company</mat-checkbox>
                                <mat-checkbox>Introducing broker-commodities</mat-checkbox>
                            </div>
                            <div class="m2_num5_ch center_checks">
                                <mat-checkbox>Introducing broker-securities</mat-checkbox>
                                <mat-checkbox>Investment Adviser</mat-checkbox>
                                <mat-checkbox>Investment company</mat-checkbox>
                                <mat-checkbox>Retail foreign exchange dealer</mat-checkbox>
                                <mat-checkbox>Self-clearing broker securities</mat-checkbox>
                                <mat-checkbox>SRO Futures</mat-checkbox>
                            </div>
                            <div class="m2_num5_ch right_checks">
                                <mat-checkbox>SRO securities</mat-checkbox>
                                <mat-checkbox>Subsidiary of financial/bank holding company</mat-checkbox>
                                <div>
                                    <mat-checkbox>Other</mat-checkbox>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="setcion_m2_num6">
                    <div class="m2_num6">
                        <div class="m2_num6_div1">
                            <p>81 Financial institution identification</p>
                        </div>
                        <div class="m2_num6_div2">
                            <div class="m2_num6_divs">
                                <div class="m2_num6_label">
                                    <label>Type</label>
                                </div>
                                <!--<select></select>-->
                                <mat-form-field name="m2_num6_type_sel" id="m2_num6_type_sel">
                                    <mat-select>
                                        <mat-option></mat-option>
                                        <mat-option value="option1">Option 1</mat-option>
                                        <mat-option value="option2">Option 2</mat-option>
                                        <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="m2_num6_divs">
                                <div class="m2_num6_label">
                                    <label for="m2_num6_type" >Number</label>
                                </div>
                                <input type="text" id="m2_num6_type" >
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section_m2_num7">
                    <div class="m2_num7">
                        <div class="m2_num7_div">
                            <div class="m2_num7_label">
                                <label for="m2_num7_input1">*82 Address</label>
                            </div>
                            <input type="text" id="m2_num7_input1">
                        </div>
                        <div class="m2_num7_div">
                            <div class="m2_num7_label">
                                <label for="m2_num7_input2">*83 City</label>
                            </div>
                            <input type="text" id="m2_num7_input2">
                        </div>
                    </div>
                </section>

                <section class="section_m2_num8">
                    <div class="m2_num8">
                        <div class="m2_num8_div">
                            <div class="m2_num8_label">
                                <label>*84 State</label>
                            </div>
                            <!--<select></select>-->
                            <mat-form-field name="m2_num8_select_1" id="m2_num8_select_1">
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="m2_num8_div">
                            <div class="m2_num8_label">
                                <label>*85 ZIP/Postal Code</label>
                            </div>
                            <input type="text" id="m2_num8_input">
                        </div>
                        <div class="m2_num8_div">
                            <div class="m2_num8_label">
                                <label>*86 Country</label>
                            </div>
                            <!--<select></select>-->
                            <mat-form-field name="m2_num8_select_1" id="m2_num8_select_2">
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </section>

                <section class="section_m2_num9">
                    <div class="m2_num9">
                        <div>
                            <label for="m2_num9_input">87 Alternate name, e.g., AKA - individual or trade name, DBA - entity</label>
                        </div>
                        <input type="text" id="m2_num9_input">
                    </div>
                </section>
                <section class="m2_num10">
                    <div class="m2_num10_div1 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input1">88 Internal control/file number</label>
                        </div>
                        <input type="text" id="m2_num10_input1">
                    </div>
                    <div class="m2_num10_div2 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input2">89 LE contact agency</label>
                        </div>
                        <input type="text" id="m2_num10_input2">
                    </div>
                    <div class="m2_num10_div3 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input3">90 LE contact name</label>
                        </div>
                        <input type="text" id="m2_num10_input3">
                    </div>
                    <div class="m2_num10_div4 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input4">91 LE contact phone number (Include Area Code)</label>
                        </div>
                        <input type="text" id="m2_num10_input4">

                        <div class="m2_num10_div4_div2">
                            <label for="m2_num10_input4_2">Ext.</label>
                        </div>
                        <input type="text" id="m2_num10_input4_2">
                    </div>
                    <div class="m2_num10_div5 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input5">92 LE contact date</label>
                        </div>
                        <input type="text" id="m2_num10_input5">
                    </div>
                    <div class="m2_num10_div6 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input6">*93 Filing institution contact office</label>
                        </div>
                        <input type="text" id="m2_num10_input6">
                    </div>
                    <div class="m2_num10_div7 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input7">*94 Filing institution contact phone number (Include Area Code)</label>
                        </div>
                        <input type="text" id="m2_num10_input7">

                        <div>
                            <label for="m2_num10_input4_2">Ext.</label>
                        </div>
                        <input type="text" id="m2_num10_input7_2">
                    </div>
                    <div class="m2_num10_div8 m2_num10_div">
                        <div class="m2_num10_label">
                            <label for="m2_num10_input8">95 Date filed</label>
                        </div>
                        <input type="text" id="m2_num10_input8">
                        <p>(Date filed will be auto-populated when the form is signed.)</p>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
