<div class="ctrx_m3_container">
    <div class="m3">
        <div class="m3_h2">
            <h2>Part III Information about Financial Institution Where Activity Occurred 1 of 1</h2>
            <div class="m3_h2_all_btns">
                <button class="m3_h2_btn">+</button>
                <button class="m3_h2_btn button_minus">-</button>
            </div>
        </div>
        <div class="m3_h2_2" style="display: nono">
            <div>
                <p>Would you like to insert all applicable filing institution information into Part III ?</p>
                <button>Yes</button>
            </div>
        </div>
        <div class="m3forms">
            <section class="section_m3_num1 ng-invalid">
                <div class="m3_num1">
                    <div>
                        <p>*51 Type of financial institution</p>
                    </div>
                    <div class="m3_div2">
                        <mat-form-field>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <input type="text" id="m3_num1_input">
                    </div>
                </div>
                    <div class="m2_error" style="display: none">
                        <span>ERROR</span>
                    </div>
            </section>
            <section class="section_m3_num2">
                <div class="m3_num2">
                    <div>
                        <p>*52 Primary federal regulator</p>
                    </div>
                    <mat-form-field>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    <div class="m2_error">
                        <span>ERROR</span>
                    </div>
            </section>
            <section class="section_m3_num3">
                <div class="m3_num3">
                    <div class="m3_num3_p">
                        <p>53 Type of gaming institution</p>
                    </div>
                    <div class="m3_num3_form">
                        <mat-checkbox>State licensed casino</mat-checkbox>
                        <mat-checkbox>Tribal authorized casino</mat-checkbox>
                        <mat-checkbox>Card club</mat-checkbox>
                        <div>
                            <mat-checkbox>Other (specify)</mat-checkbox>
                            <input type="text">

                        </div>
                    </div>
                </div>
            </section>
            <section class="section_m3_num4">
                <div class="m3_num4">
                    <div class="m3_num4_title">
                        <div><p></p></div>
                        <div>
                            54 Type of Securities and Futures institution or individual where activity occurred - check box(es)
                            that apply to this report
                        </div>
                    </div>

                    <div class="m3_num4_all_checks">
                        <div class="m3_num4_check m3_num4_check_left">
                            <mat-checkbox>Clearing broker-securities</mat-checkbox>
                            <mat-checkbox>Execution-only broker securities</mat-checkbox>
                            <mat-checkbox>Futures Commission Merchant</mat-checkbox>
                            <mat-checkbox>Holding company</mat-checkbox>
                            <mat-checkbox>Introducing broker-commodities</mat-checkbox>
                        </div>
                        <div class="m3_num4_check m3_num4_check_center">
                            <mat-checkbox>Introducing broker-securities</mat-checkbox>
                            <mat-checkbox>Investment Adviser</mat-checkbox>
                            <mat-checkbox>Investment company</mat-checkbox>
                            <mat-checkbox>Retail foreign exchange dealer</mat-checkbox>
                            <mat-checkbox>Self-clearing broker securities</mat-checkbox>
                        </div>
                        <div class="m3_num4_check m3_num4_check_right">
                            <mat-checkbox>Subsidiary of financial/bank holding company</mat-checkbox>
                            <div>
                                <mat-checkbox>Other</mat-checkbox>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section_m3_num5">
                <div class="m3_num5">
                    <div class="m3_num5_title">
                        <p>55 Financial institution identification</p>
                    </div>
                    <div class="m3_num5_forms">
                        <div class="m3_num5_form m3_num5_form1">
                            <div>
                                <p>Type</p>
                            </div>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="m3_num5_form m3_num5_form2" style="padding-top:20px; padding-bottom: 20px">
                            <div>
                                <p>Number</p>
                            </div>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </section>

            <section class="section_m3_num6">
                <div class="m3_num6">
                    <div class="m3_num6_div1 m3_num6_divs">
                        <div>
                            <p>56 Financial institution's role in transaction</p>
                        </div>
                        <div class="m3_num6_div1_checks m3_num6_divs_checks">
                            <mat-checkbox>Selling location</mat-checkbox>
                            <mat-checkbox>Paying location</mat-checkbox>
                            <mat-checkbox>Both</mat-checkbox>
                        </div>
                    </div>
                    <div class="m3_num6_div2 m3_num6_divs">
                        <div>
                            <p>*57 Legal name of financial institution</p>
                        </div>
                        <div class="m3_num6_div2_checks m3_num6_divs_checks">
                            <mat-checkbox>Unknown</mat-checkbox>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section_m3_num7">
                <div class="m3_num7">
                    <div class="m3_num7_div">
                        <div>
                            <p>58 Alternate Name, e.g., AKA - individual or trade name, DBA - entity</p>
                        </div>
                        <input type="text">
                    </div>
                </div>
            </section>
            <section class="m3_num8">
                <div class="m3_num8_form m3_num8_form1">
                    <div class="m3_num8_title_1">
                        <p>*59 TIN</p>
                    </div>
                    <div class="m3_num8_form1_0">
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>

                    <div class="m3_num8_form1_2">
                        <div>
                            <p>60 TIN type</p>
                        </div>
                        <mat-form-field>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="m3_num8_form m3_num8_form2">
                    <div class="m3_num8_form2_title">
                        <p>*61 Address</p>
                    </div>
                    <div class="m3_num8_form2_check">
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                </div>
                <div class="m3_num8_form m3_num8_form3">
                    <div class="m3_num8_form3_title">
                        <p>*62 City</p>
                    </div>
                    <div class="m3_num8_form3_check">
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                </div>
                <div class="m3_num8_form m3_num8_form4">
                    <div>
                        <p>63 State</p>
                    </div>
                    <mat-form-field>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="m3_num8_form m3_num8_form5">
                    <div class="m3_num8_form5_title">
                        <p>*64 ZIP/Postal Code</p>
                    </div>
                    <div class="m3_num8_form5_check">
                        <mat-checkbox>Unknown</mat-checkbox>
                        <input type="text">
                    </div>
                </div>
                <div class="m3_num8_form m3_num8_form6">
                    <div class="m3_num8_form6_title">
                        <p>*65 Country</p>
                    </div>
                    <div class="m3_num8_form6_check">
                        <mat-checkbox>Unknown</mat-checkbox>
                        <mat-form-field>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="m3_num8_form m3_num8_form7">
                    <div>
                        <p>66 Internal control/file number</p>
                    </div>
                    <input type="text">
                </div>
                <div class="m3_num8_form m3_num8_form8">
                    <div class="m3_num8_form8_div1">
                        <p>67 Loss to financial institution </p>
                    </div>
                    <div class="m3_num8_form8_div2">
                        <p>$</p>
                        <input type="text">
                        <p>.00</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="m3_forms2">
            <div class="m3_forms2_bottom">
                <div class="m3_forms2_title">
                    <h2>Branch where activity occurred information</h2>
                    <mat-checkbox labelPosition="before">If no branch activity involved, check this box</mat-checkbox>
                </div>

                <div class="m3_forms2_title2">
                    <h3>
                        Branch Information
                    </h3>
                    <div>
                        <button class="m3_form2_title2_btn1">+</button>
                        <button class="m3_form2_title2_btn2 button_minus">-</button>
                    </div>
                </div>
                <div class="m3_form2_f1">
                    <div class="m3_form2_f1_title">
                        <p>68 Branch's role in transaction</p>
                    </div>
                    <div class="m3_form2_f1_checks">
                        <mat-checkbox>Selling location</mat-checkbox>
                        <mat-checkbox>Paying location</mat-checkbox>
                        <mat-checkbox>Both</mat-checkbox>
                    </div>
                </div>
                <div class="m3_form2_f2">
                    <div class="m3_form2_f2_div1">
                        <p>69 Address of branch of office where activity occurred</p>
                    </div>
                    <input type="text">
                </div>
                <div class="m3_form2_f3">
                    <div class="m3_form2_f3_div m3_form2_f3_div1">
                        <div>
                            <p>71 City</p>
                        </div>
                        <input type="text">
                    </div>
                    <div class="m3_form2_f3_div m3_form2_f3_div2">
                        <div>
                            <p>70 RSSD Number</p>
                        </div>
                        <input type="text">
                    </div>
                </div>
                <div class="m3_form2_f4">
                    <div class="m3_form2_f4_div m3_form2_f4_div1">
                        <div>
                            <p>72 State</p>
                        </div>
                        <mat-form-field>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="m3_form2_f4_div m3_form2_f4_div2">
                        <div>
                            <p>73 ZIP/Postal Code</p>
                        </div>
                        <input type="text">
                    </div>

                    <div class="m3_form2_f4_div m3_form2_f4_div3">
                        <div>
                            <p>*74 Country</p>
                        </div>
                        <mat-form-field>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

