<div class="header">
   <p>Suspicious Activity Report</p>
    <mat-tab-group>
        <mat-tab label="Home" class="heading_button">
            <maket_1></maket_1>
        </mat-tab>

        <mat-tab label="Step 1. Filing Institution Contact Information"  class="heading_button">
            <maket_2></maket_2>
        </mat-tab>

        <mat-tab label="Step 2. Filing Institution Where Activity Occurred"  class="heading_button">
            <maket_3></maket_3>
        </mat-tab>

        <mat-tab label="Step 3. Subject Information"  class="heading_button">
            <maket_4></maket_4>
        </mat-tab>

        <mat-tab label="Step 4. Suspicious Activity Information"  class="heading_button">
            <maket_5></maket_5>
        </mat-tab>

        <mat-tab label="Step 5. Narrative"  class="heading_button">
            <maket_6></maket_6>
        </mat-tab>

    </mat-tab-group>
</div>

